.photo-size {
    width: 100%;
    max-height: 12vw;
}

.container-size {
    max-width : 12vw;
}

.photos {
    display: inline-flex;
    position: relative;
}

.del-photo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;
    color: maroon;
}
    
.del-photo:active {
    color: red;
}


.image-size {
    max-width: 100%;
    height: auto;
}

.item-size {
    width: 200px;
    min-height: 200px;
    max-height: 200px;
    float: left;
    margin: 3px;
    padding: 3px;
}