@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app">
    <header style="padding-bottom: 50px">

    </header>
    
    <section ng-view>

    </section>
    
    <footer>
        <p class="text-center">@DateTime.Now.Year - Photographer</p>
    </footer>
</div>

