<form class="container">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="form-inline">
                <div class="col-sm-offset-2 col-sm-4">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="date">Birth date:</label>
                        <input type="text" class="form-control" id="date">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default pull-right">Add</button>
    </div>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth date</th>
                <th>Picture count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid text-center">
    <ul class="pagination">
        <li><a href="#">1</a></li>
    </ul>
</div>
</form>
