<form class="container">

<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <div class="container-fluid">
                <h2 class="text-center">Photographer</h2>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="thumbnail photos">
                        <a href="">
                            <img class="photo-size" src="~/Content/Images/Custom-Icon-Design-Mono-General-4-Upload.ico" />
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail photos">
                        <img class="photo-size" src=""/>
                        <a href=""><span class="del-photo glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>

            </div>              
        </div>

        <div class="container-fluid text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>
            </ul>
        </div>
    </div>
</div>

</form>